.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0 15px 0;
}

.singlePost {
    border: 1px solid black;
    margin: 15px 10px 0 10px;
    padding: 5px 0 20px 3px;
    width: 200px;
}

.individualcomment{
    border: 1px solid black;
}

.postImage {
    width: 150px;
    border-radius: 20px;
    margin: 12px 0 5px 0;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.776);
}

.postImageDiv {
    display: flex;
    justify-content: center;
}

.createPostButtonDiv {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.button {
    padding: 3px;
    margin: 0 2px 0 2px;
}

.postFormSection {
    margin: 0 0 0 15px;
}

.postDetail {
    margin: 0 0 0 10px;
}

.postCategory {
    margin: 0 0 20px 0;
}

.postTitle {
    text-decoration: underline;
}

.commentButton {
    margin: 4px 0 0 0;
}