.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0 15px 0;
}

.singlePost {
    border: 1px solid black;
    margin: 15px 10px 0 10px;
    padding: 5px 5px 20px 5px;
    width: 200px;
}

.individualcomment{
    border: 1px solid black;
}

.postImage {
    width: 150px;
    border-radius: 20px;
    margin: 12px 0 8px 0;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.776);
}

.postImageDiv {
    display: flex;
    justify-content: center;
}

.createPostButtonDiv {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.button {
    padding: 3px;
    margin: 0 2px 0 2px;
}

.postDetailButtonDiv {
    margin: 15px 0 0 0;
}

.postFormSection {
    margin: 0 0 0 15px;
}

.postForm {
    margin: 0 12px 0 12px;
    border: 2px black solid;
    padding: 0 4px 20px 26px;
}

.postDetail {
    margin: 0 0 0 37px;
}

.postCategory {
    margin: 0 0 5px 0;
}

.tagDiv {
    display: flex;
    align-items: baseline;
    margin: 0 0 5px 0;
}

.postTitle {
    text-decoration: underline;
}

.postTag {
    margin: 0 5px 0 0;
}

.commentButton {
    margin: 4px 0 0 0;
}