.categoryHolder {
    margin: 0 0 0 12px;
}

.category {
    margin: 10px 0 0 0;
}

.category__label {
    margin: 0 0 5px 0;
}

.editCatButton {
    margin-left :5px
}
.deleteButtonClass {
    margin-left :10px
}