.title{
    text-align: center;
    position: relative;
    margin: auto auto 100px auto;
    font-size: 50pt;

}

.homeImage{
  position: relative;
  width: 60%;
  height: 60%;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.welcomeUser{
  position: absolute;
  font-size: 60px;
  top: 780px;
  left: 950px;
  transform: translate(-50%, -50%);
}


