.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    padding: 25px 15px 40px 10px;
    margin: 0 0 0 0;
    border-bottom: 2px rgb(218, 218, 218) solid;
}

.navbar__item {
    flex-basis: 15%;
    list-style-type: none;
    text-align: center;
    margin: 0 8px 0 8px;
    height: 65px;
}


.navbar__logo {
    height: 85px;
}
